# NOTES:
#
# Idea to check a file by Paul Merrill (July 10, 2015)
#
# if on home computer,
#   echo See ~/.aliases for the use of this file >> ~/.HOME
#
# if on work computer,
#   echo See ~/.aliases for the use of this file >> ~/.WORK

###############################################################################
# Bash Aliases
###############################################################################

alias a='alias'
alias agr='alias | grep'
alias c2n='tr ":" "\012"'
alias cx='chmod +x'
alias dm='docker-machine'
alias ds='dirs -v'
alias eg=egrep
alias g=grep
alias gv='grep -v'
alias git_email='echo Your git email is `git config user.email`'
alias git_id_help='git_email; echo Check your git_id aliases for more info which are set in .private_aliases.'
alias h=history
alias hgr='history | grep'
alias ipy=ipython
alias ipn='ipython notebook'
alias ll='ls -l'
alias m='less'
alias md='mkdir -p'
alias path='echo $PATH | c2n'
alias pp='popd; ds'
alias py="echo 'Using ipython instead, duh' ; ipython"
alias pylint="pylint --output-format=colorized"
alias s.a='source ~/.aliases'
alias s.b='source ~/.bashrc'
alias s2n='tr " " "\012"'
alias spew='wget -qO-' # URL to spew the contents to stdout
alias up='cd ..'
alias up2='cd ../..'
alias up3='cd ../../..'
alias up4='cd ../../../..'
alias wh=which
# z move?
# zmv -W '*.lis' '*.txt'
alias zmvw='zmv -W'
alias ,=pd
alias ,.=pp

# -----------------------------------------------------------------------------
# OS Specific Aliases
# -----------------------------------------------------------------------------

if [[ "$(uname)" == "Darwin" ]]; then

    alias oemacs='open -a /Applications/Emacs.app'
    alias ssh_fingerprint='ssh-keygen -E md5 -lf'

elif [[ "$(expr substr $(uname -s) 1 5)" == "Linux" ]]; then
    # Do something under Linux platform
    alias ssh_fingerprint='ssh-keygen -E md5 -l'
    alias python=python3.6

#elif [[ "$(expr substr $(uname -s) 1 10)" == "MINGW32_NT" ]]; then
    # Do something under Windows NT platform
fi

# -----------------------------------------------------------------------------
# Private aliases
# -----------------------------------------------------------------------------

if [ -e ~/.private_aliases ]; then
    alias s.a='source ~/.aliases; source ~/.private_aliases'
    source ~/.private_aliases
fi

# -----------------------------------------------------------------------------
# Aliases at home
# -----------------------------------------------------------------------------

if [ -e ~/.HOME ]; then
    alias proj='cd ~/Programming/PROJECTS'
    alias dox='cd ~/Documents'
    alias blog='cd ~/Documents/Blog'
fi

# -----------------------------------------------------------------------------
# Aliases at work
# -----------------------------------------------------------------------------

if [ -e ~/.WORK ]; then
    alias chrome='open /Applications/Google\ Chrome.app --args --remote-debugging-port=9222'
    alias dn='FILE=DURANT_NOTES_do_not_check_in.org; touch $FILE; echo $FILE exists'
    alias emacs='open /Applications/Emacs.app'
    alias kubedep='cd ~/src/kubernetes-deployment'
    alias switch_clusters_jupyter='gcloud container clusters get-credentials cr-west1 --project=freenome-computational --region=us-west1; kubectl get pods'
    alias lims='cd ~/src/LIMS-UI'
    alias lims-api='cd ~/src/LIMS-API; source venv/bin/activate'
    # this might also do the same thing: ./manage.py db branches
    alias alembic_conflicts="echo 'Heads:'; ./manage.py db heads; \
          pushd migrations/versions >! /dev/null; \
          echo 'Branch points:'; \
          grep down_revision *(.) | cut -d':' -f2 | sort | uniq -c | awk '\$1 > 1' | sort -rn; \
          popd >! /dev/null"
    alias rdu='cd ~/src/rd_utils; source venv/bin/activate'
    alias sdb='cd ~/src/sample-db; source env/bin/activate'

    if [ -n "$ZSH_VERSION" ]; then
        # rely on ee defined only for zsh
        alias pipi='ee pip install -r requirements.txt \
        --extra-index-url=https://${PACKAGECLOUD_TOKEN}:@packagecloud.io/freenome/python/pypi/simple'
        alias pyt='ee pytest --maxfail=1 --failed-first tests'
        alias pytl='ee pytest --last-failed --maxfail=1 tests'
        alias psq='ee psql -d sampledb'

        latest_file_in_dir() {
            # first argument should be the directory
            # after running this the relative path of the latest file will be stored in $latest
            echo $1
            ls -lt $1 | head
            latest=`ls -d $1/*(.om[1])` # . regular file, o sorted, m mod time, 1 first
            latestd=$1 # set the latest directory too
        }

        alias ltmig='latest_file_in_dir migrations/versions'
    fi
fi

###############################################################################
# Zsh Aliases
###############################################################################

if [ -n "$ZSH_VERSION" ]; then
    # assume Zsh

    alias ctags='=ctags -eR'

    alias s.z='source ~/.zshrc'
    alias s.ze='source ~/.zshenv'
    alias lth='ls -lt | head; latest=`ls *(.om[1])`'		# . regular file, o sorted, m mod time, 1 first
    alias lthd='ls -lt | head; latest=`ls -d *(/om[1])`'	# / directory, o sorted, m mod time, 1 first
    # z move?
    # zmv -W '*.lis' '*.txt'
    alias zmvw='zmv -W'

    # try these
    alias -g latestd='*(/om[1])' # newest directory
    alias -g latestf='*(.om[1])' # newest file

    alias llrm='echo "Paste ls -lt output for files to delete and ^D when done"; /bin/rm -rf `awk '\''{print $9}'\''`'

    ee () { echo $* ; $* }

    if [[ "$(uname)" == "Darwin" ]]; then
        # unalias rm
        rm () { mv $* ~/.Trash }
    fi

    function psg () {
        ps -ef | grep "$@" | grep -v grep
    }

    function mdc () {
        mkdir -p $1
        cd $1
    }

    # alias pd='pushd; ds'
    function pd () {
	      pushd $1
	      ds
    }

    function p () {
	      ls -d $PWD/$1
    }

    function pdfsearch() {
        pdfgrep -nir "$@" .
    }

    # -----

    # $1 = type; 0 - both, 1 - tab, 2 - title
    # rest = text
    setTerminalText () {
	      # echo works in bash & zsh
	      local mode=$1 ; shift
	      echo -ne "\033]$mode;$@\007"
    }
    stt_both  () { setTerminalText 0 $@; }
    stt_tab   () { setTerminalText 1 $@; }
    stt_title () { setTerminalText 2 $@; }

    # mac

    ###############################################################################
    # global aliases
    # example: C

    # from: http://grml.org/zsh/zsh-lovers.html

    # $latest alias -g C='| wc -l'
    # $ grep alias ~/.zsh/* C
    # 443

    alias -g ...='../..'
    alias -g ....='../../..'
    alias -g .....='../../../..'
    alias -g CA="2>&1 | cat -A"
    alias -g C='| wc -l'
    alias -g D="DISPLAY=:0.0"
    alias -g DN=/dev/null
    alias -g ED="export DISPLAY=:0.0"
    alias -g EG='|& egrep'
    alias -g EH='|& head'
    alias -g EL='|& less'
    alias -g ELS='|& less -S'
    alias -g ETL='|& tail -20'
    alias -g ET='|& tail'
    alias -g F=' | fmt -'
    alias -g G='| egrep'
    alias -g H='| head'
    alias -g HL='|& head -20'
    alias -g Sk="*~(*.bz2|*.gz|*.tgz|*.zip|*.z)"
    alias -g LL="2>&1 | less"
    alias -g L="| less"
    alias -g LS='| less -S'
    alias -g MM='| most'
    alias -g M='| more'
    alias -g NE="2> /dev/null"
    alias -g NS='| sort -n'
    alias -g NUL="> /dev/null 2>&1"
    alias -g PIPE='|'
    alias -g R=' > /c/aaa/tee.txt '
    alias -g RNS='| sort -nr'
    alias -g S='| sort'
    alias -g TL='| tail -20'
    alias -g T='| tail'
    alias -g US='| sort -u'
    alias -g VM=/var/log/messages
    alias -g X0G='| xargs -0 egrep'
    alias -g X0='| xargs -0'
    alias -g XG='| xargs egrep'
    alias -g X='| xargs'

elif [ -n "$BASH_VERSION" ]; then
    # assume Bash
fi
